.App {
    background-color: white;
}

.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.table-pagination {
    min-height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pagination-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
}

.flex-container-wishlist {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10vw;
    margin-top: 20px;
    margin-left: 20px;
}

.item-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

.item-grid-modal {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-gap: 20px;
}

.item-grid-modal-big {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-row-gap: 20px;
}

.plus-button:hover {
    transition: all 0.25s linear;
    opacity: 0.5;
}

.x-button:hover {
    transition: all 0.25s linear;
    opacity: 0.5;
}

.modal-90w {
    min-width: 90%;
}