.App {
    background-color: white;
}

.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.table-pagination {
    min-height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pagination-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
}

.flex-container-wishlist {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10vw;
    margin-top: 20px;
    margin-left: 20px;
}

.item-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

.item-grid-modal {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-gap: 20px;
}

.item-grid-modal-big {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-row-gap: 20px;
}

.plus-button:hover {
    transition: all 0.25s linear;
    opacity: 0.5;
}

.x-button:hover {
    transition: all 0.25s linear;
    opacity: 0.5;
}

.single-item:hover {
    transition: all 0.25s linear;
    opacity: 0.6;
}

.modal-90w {
    min-width: 90%;
}

.form-container-additem {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form {
    width: 400px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
}

.form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

.birthday-messages-grid {
    width: 38vw;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

#birthdayCard {
    background: rgb(16, 128, 239);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: rgb(183, 230, 252);
    border: 8px solid rgb(0, 123, 255);
    border-left: 10px solid rgb(0, 15, 179);
    padding: 20px;
}


/* spinner */
.lds-ellipsis {
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 43.5%;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 24px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 24px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 96px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 168px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(72px, 0);
    }
}